html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    scroll-behavior: smooth;
    background-color: #0f0d18;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

#eclipse {
    width: 100%;
    height: 100%;
    background-color: #0b1f3d;
    position: relative;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    user-select: none;
}

div {
    position: relative;
    overflow: hidden;
}

#sun {
    background-color: #e1baf0;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    animation: sun 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#moon {
    background-color: #0b1f3d;
    position: absolute;
    width: 198px;
    height: 198px;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    animation: moon 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes moon {
    0% {
        transform: translate(-50%, -50%) translate(0, 50vh) rotateZ(90deg) translate(0, -50vh);
    }
    45% {
        transform: translate(-50%, -50%) translate(0, 50vh) rotateZ(0deg) translate(0, -50vh);
    }
    55% {
        transform: translate(-50%, -50%) translate(0, 50vh) rotateZ(0deg) translate(0, -50vh);
    }
    100% {
        transform: translate(-50%, -50%) translate(0, 50vh) rotateZ(-90deg) translate(0, -50vh);
    }
}

@keyframes sun {
    33% {
        box-shadow: 0px 0px 0px 0px #e1baf0;
    }
    40% {
        box-shadow: 0px 0px 20px 10px #e1baf0;
    }
    60% {
        box-shadow: 0px 0px 20px 10px #e1baf0;
    }
    67% {
        box-shadow: 0px 0px 0px 0px #e1baf0;
    }
}

.heading {
    font-family: 'Fira Sans', sans-serif;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: -2px;
    line-height: 0.9em;
}

.lin {
    color: #ca4646;
    font-size: 80px;
    line-height: 01em;
}

.less-important {
    color: #464646;
}

.content {
    padding: 30px 60px;
    width: 100%;
    height: 100%;
    background-color: #0a0811;
}

.subheading {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #a1a1a1;
}

.space {
    height: 1em;
    width: 1em;
}

a {
    text-decoration: none;
}

.button {
    color: #2fa7c5;
    font-size: 25px;
    font-family: 'Fira Sans', sans-serif;
    border: 1px solid #2fa7c5;
    padding: 8px 32px;
    border-radius: 4px;
    letter-spacing: normal;
}

#about-me {
    padding-top: 100px;
    background-color: #2c1436;
}

#websites {
    padding-top: 100px;
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
}

.heading-2 {
    font-family: 'Fira Sans', sans-serif;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: -2px;
    line-height: 0.9em;
}

a {
    color: white;
    border-bottom: 1px solid white;
    font-family: sans-serif;
}

a:hover {
    color: rgba(255, 255, 255, 0.884);
    border-bottom: 1px solid white;
    font-family: sans-serif;
}

.bruh {
    font-family: 'Lato', sans-serif;
    color: #c9c9c9;
}

#about-me-button {
    color: #00c5f7;
    text-decoration: none;
    border: 1px solid #00c5f7;
    padding: 8px 16px;
    font-family: 'Fira Sans', sans-serif;
    border-radius: 2px;
    margin: 5px;
    background-color: #00000000;
    transition: color .5s, background-color .5s;
}

#about-me-button:hover {
    color: #ffffff;
    background-color: #00c5f7;
}

#website-button {
    color: #ca4646;
    text-decoration: none;
    border: 1px solid #ca4646;
    padding: 8px 16px;
    font-family: 'Fira Sans', sans-serif;
    border-radius: 2px;
    margin: 5px;
    background-color: #00000000;
    transition: color .5s, background-color .5s;
}

#website-button:hover {
    color: #ffffff;
    background-color: #ca4646;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.half {
    width: 50%;
}

.right {
    float: right;
}

.twothird {
    width: 66%;
}

.centered-foot {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    padding: 10px
}

#arrow-down {
    width: 32px;
    height: 32px;
    animation: arrow .9s infinite;
}

#cursor {
    animation: cursor 0.5s;
    display: inline-block;
    width: 2px;
    height: 1em;
    margin-left: 8px;
    margin-top: 2px;
    background-color: #ca4646;
    transform: translateY(5px);
    animation: cursor 1.4s infinite linear;
}

@keyframes arrow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes cursor {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.half-half {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}